[2016-03-23 05:10] rjavila opened #2 "matplotlib and TEAL"
I ran into problems using matplotlib and TEAL. It seems they each use a different default backends so when I load one of the two packages the other won't work.

[2016-03-23 05:15] pllim commented on #2
You can always change your matplotlib backend (see http://matplotlib.org/faq/usage_faq.html#what-is-a-backend). If that does not work, post your backend settings for each and the related tracebacks.

[2016-03-25 15:17] rjavila commented on #2
Well, shouldn't the backends match by default? Otherwise anyone who downloads these two package will run into problems when they use Drizzlepac. That's how I ran into it.

[2016-03-25 16:24] pllim commented on #2
matplotlib and TEAL are two very different beasts. They are developed by different people. And they don't really talk to each other in terms of matching backend. Have them automatically attempt to match is not going to be feasible. But, maybe there is a way for TEAL to check currently active matplotlib backend and issue a warning? I am not sure. What do you think, @cdsontag ?

[2016-03-25 16:38] rjavila commented on #2
My personal workaround is to set the backend to TkAgg in my matplotlibrc file.

[2016-04-14 21:07] pllim commented on #2
@rjavila , @cdsontag said, "Easiest way to get them to work together (I think) is to just use TkAgg for both."

[2016-04-14 21:07] #2 closed

[2016-07-06 20:58] philhodge opened #4 "numpy.diagonal returns a read-only array"
A user reported an exception when using the `mktrace` module in `stistools`.  The problem is in function `qrsolv` in `stsci.tools.nmpfit.py`:

[code]

where `x` is the diagonal of another array:

[code]

The `numpy.put` function was called to replace some elements of `x` with the values of `wa`, at indices specified by `ipvt`.  In some versions of `numpy`, however, `diagonal()` returns a read-only

[2016-07-07 15:13] pllim commented on #4
@philhodge , are you or @stscirij going to work on this?

[2016-07-07 17:37] pllim commented on #4
@larrybradley , are you aware of anything in Astropy or `photutils` or such that can replace https://github.com/spacetelescope/stsci.tools/blob/master/lib/stsci/tools/nmpfit.py ?

[2016-07-07 17:46] stscirij commented on #4
I'll do this.

On Jul 7, 2016 11:13 AM, "P. L. Lim" <notifications@github.com> wrote:

@philhodge<https://github.com/philhodge> , are you or @stscirij<https://github.com/stscirij> going to work on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/spacetelescope/stsci.tools/issues/4#issuecomment-231108647>, or mute the thr

[2016-07-07 18:04] philhodge commented on #4
The gfit1d function in gfit.py is the one that calls nmpfit.

Phil

On 07/07/2016 01:37 PM, P. L. Lim wrote:

[2016-07-07 21:14] nden commented on #4
`nmpfit` should be replaced by `astropy.modeling.fitting.LevMarLSQFitter`.

[2016-07-08 15:27] larrybradley commented on #4
@pllim Yes, `LevMarLSQFitter` as @nden suggests.

[2016-10-06 18:33] mcara commented on #4
@philhodge A simple fix (instead of re-writting the whole module) is to make diagonal read-write:

[code]
If this solution is acceptable, I can make a quick PR.

[2016-10-06 18:47] philhodge commented on #4
I doubt that that would work.  I don't remember the code, but I think
the intention is to change the matrix by modifying the diagonal.

On 10/06/2016 02:33 PM, Mihai Cara wrote:

[2016-10-06 18:53] mcara commented on #4
@philhodge Based on the numpy documentation for ``diagonal``:

Also, please note, _"In some future release, it will return a read/write view and writing to the returned array will alter your original array."_ However, I am not aware that this functionality was ever supported in the past and so, I do not see how existing code could have relied on such functionality.

[2016-10-06 19:13] philhodge commented on #4
Then your solution should work. Thanks!

Phil

On 10/06/2016 02:53 PM, Mihai Cara wrote:

[2016-10-31 15:28] pllim opened #11 "irafutils cannot decode ascii in Python 3"
Python 3 incompatibility causes traceback below, as reported by Zhixin Peng from School of Astronomy and Space Science, Nanjing University, China:

[code]

See Footprints Ticket 9446.

[2016-11-02 20:40] jotaylor commented on #4
I did a quick (not very rigorous) check to test the proposed fix, and I seem to be getting the same error. I'm not on the STIS team anymore but am passing this information on to them for further testing.

[2016-11-02 21:39] mcara commented on #4
@jotaylor Most likely your installation does not contain this fix. If it does, could you, please, put some test files and exact commands that need to be run to reproduce the error somewhere for download?

[2016-11-03 20:05] jotaylor commented on #4
@mcara Yup, you're right Mihai, my installation didn't have the fix. I manually edited the offending line in nmpfit.py to duplicate your change and got mktrace to run correctly 👍  Do you know how long it will take to get incorporated into the public astroconda distribution?

[2016-11-03 20:07] pllim commented on #4
@jotaylor , as soon as someone makes a GitHub release tag and update `astroconda-contrib`.

[2016-11-03 20:07] pllim commented on #4
But maybe we should merge #9 before making a release?

[2016-11-03 20:08] mcara commented on #4
It depends on when @stscirij is going to add release tag [or whatever is the correct wording for this] to the ``stsci.tools`` package.

[2016-11-03 20:34] stscirij commented on #4
Regardless, it will go in the next release when I figure out how to make that happen.

[2016-11-03 20:54] jhunkeler commented on #4
I agree with @pllim. #9 should be merged (assuming it is ready to go).

[2016-12-05 17:26] lupinix commented on #11
Hi, I'm getting the same issue (Fedora 25, Python 3.5, stsci.tools 3.4.2.1, pyraf 2.1.13)

`PyRAF 2.1.13 Copyright (c) 2002 AURA
Python 3.5.2 Copyright (c) 2001-2016 Python Software Foundation.
Python/CL command line wrapper
  .help describes executive commands
--> !ds9 &
--> display /astro-data/Messdaten/2016_12_04_Rx_And/Light/V/Rx_And_Light_001.fits
frame to be written into (1:16) (1): 1
z1=921

[2016-12-05 17:28] pllim commented on #11
@lupinix , if `imexam` is the only reason you are using PyRAF when you encounter this error, it is best to switch to the Python implementation of `imexam` (see http://imexam.readthedocs.io/en/latest/).

[2016-12-05 17:30] lupinix commented on #11
@pllim We are using PyRAF in general for analysis of our data as it is the best and most comfortable way to use IRAF. So we also use other IRAF tasks like qphot. But thank you for the note :)

[2016-12-05 17:44] sosey commented on #11
IRAF is not Python 3.0 compatible and there are no current plans for it to be upgraded, as per the information here:

http://astroconda.readthedocs.io/en/latest/installation.html#legacy-installation-with-iraf
http://astroconda.readthedocs.io/en/latest/faq.html#why-is-iraf-pyraf-less-functional-under-python-3

You should consider installing an environment with python 2.7 if you still require use of

[2016-12-05 17:53] lupinix commented on #11
Using Python 2.7 again is also our current "solution", we made first investigations on migration to 3.5 as compatibility of PyRAF with 3.4 and 3.5 is mentioned here: http://www.stsci.edu/institute/software_hardware/pyraf/current/download

I think I should discuss with our users about the Python replacements. I know most of them as I'm working on Fedora Astronomy stuff (although I still have to pac

[2016-12-05 17:57] cdsontag commented on #11
Python replacements are ideal, yes.

But for those using IRAF standard binaries (IRAF tasks from the folks at iraf.net), then yes, PyRAF should enable you to use them in Python 3.*.  Note Megan's warning about STSDAS tasks however.

This current ticket is just a PyRAF bug under that Python 3 scenario, which will be fixed.

[2016-12-05 18:01] lupinix commented on #11
Yes we are using the IRAF standard binaries

[2016-12-05 18:32] cdsontag commented on #11
Then you should be good to use PyRAF with them on Python 3.* (for the near term at least), barring the current issue - this ticket.  See also the caveats in the online PyRAF FAQ.

Disclaimer, because we here at STScI have users/processes which still require IRAF tasks, we are continuing (albeit very limited) PyRAF support for now.  Be aware however that that is expected to change in the semi-near

[2016-12-20 15:36] cdsontag commented on #11
Can someone please post a FITS file which causes this?  I will probably have a chance to work this over the next week or so, and I am not able to reproduce it.  CC @pllim @lupinix

[2016-12-20 15:45] pllim commented on #11
@cdsontag , the original help call did not come with an attachment, so I don't have any files to give you. My suspicion is that the offending FITS file has special characters in its header.

[2016-12-20 19:04] lupinix commented on #11
FITS file in attachment, thank you for investigating :)
[Rx_And_Light_001.fits.zip](https://github.com/spacetelescope/stsci.tools/files/664525/Rx_And_Light_001.fits.zip)

[2016-12-20 23:29] lupinix commented on #11
Way to reproduce:

1.) Use Python 3 PyRAF and stsci.tools (all at latest version), DS9 viewer
2.) display Rx_And_Light_001.fits
3.) imexam
4.) Point to a star in ds9 and type "r" to get a radial plot
5.) You should have the error message I pasted above now

[2016-12-20 23:32] lupinix commented on #11
Another FITS producing the error, this one was created years ago by a completely different software (Atik Artemis Capture), the Rx And one has been created by KStars (2.7.2) / INDI (1.3.1) if that matters.

[wr134_v_4s_001.fit.zip](https://github.com/spacetelescope/stsci.tools/files/665021/wr134_v_4s_001.fit.zip)

[2016-12-21 15:52] cdsontag commented on #11
Got this on Rx_And_Light, thanks.  Will likely hit this in the week after Christmas.

[2017-01-04 20:36] cdsontag commented on #11
All,

Got to the root of this bug today.  It seems that in non-unicode-land (Python 2), the plotting-data bytes passed between imexam and ds9 are not entirely ascii but the s/w is forgiving about it.  So I have changed PyRAF (actually stsci.tools) to work the same way, since we only care about the ASCII part.

The fix is going to require a new version of stsci.tools to download (and I will put out

[2017-01-04 21:23] pllim commented on #11
You can also pip install the latest dev version like this:

[code]

[2017-01-05 12:19] lupinix commented on #11
Thank you very much, will test it soon :)

[2017-01-05 13:00] lupinix commented on #11
Seems to work fine now 👍

[2017-01-05 17:06] pllim commented on #11
This fixed is included in 3.4.3.

[2017-01-05 23:01] cdsontag commented on #11
Great.  This ticket can be closed as soon as stsci.tools 3.4.3 appears on pypi.

[2017-01-05 23:32] jhunkeler commented on #11
https://pypi.python.org/pypi/stsci.tools/3.4.3

🚀

[2017-01-06 04:22] #11 closed

[2017-01-18 22:37] mcara opened #17 "Update code to deal with removed 'new_table' from astropy.io.fits"
``new_table()`` function has been removed from ``astropy.io.fits`` starting with version 1.3 (see commit https://github.com/astropy/astropy/commit/1c3e876b935951c716ef53cbf41db9b889de6b2d). The code in ``stsci.tools`` needs to be updated to accommodate above mentioned changes.

[2017-01-19 00:57] mcara commented on #17
This issue has been addressed in PR https://github.com/spacetelescope/stsci.tools/pull/18

[2017-01-19 15:13] #17 closed

[2017-01-19 15:21] pllim commented on #4
Release 3.4.4 is made, closing this call.

[2017-01-19 15:21] #4 closed

[2017-02-02 22:59] mcara opened #19 "fits clobber has been deprecated"
The ``clobber`` parameter in ``astropy.io.fits`` write functions has been deprecated and it has been replaced with ``overwrite``: see https://github.com/astropy/astropy/pull/5171.

This has caused our code (see, e.g., ``drizzlepac`` - https://github.com/spacetelescope/drizzlepac/issues/15) to issue numerous deprecation warnings.

The code in ``stsci.tools`` needs to be updated so that it uses ``ov

[2017-02-03 14:19] pllim commented on #19
Fixed in #20.

[2017-02-03 14:19] #19 closed

[2017-02-03 15:47] pllim opened #21 "Follow up on #20"
Address comments by @nden. See #20. I merged too soon, my bad.

[2017-02-03 21:46] #21 closed

[2017-02-06 20:14] mcara opened #22 "Logger adds extraneous empty lines after log messages"
For unknown to me reasons,drizzlepac's log file contains a huge number of empty lines in places where I would not expect them to appear. This makes the log file unnecessarily long, see e.g., https://ssb.stsci.edu/pandokia/pandokia.cgi?query=detail&key_id=39303570

[code]
or
[code]
(above, there should not be an empty line between ``**  Input image: 'o60q02f3q_flt.fits'`` and ``EXT: 'SCI',1`` and t

[2017-02-06 20:18] mcara commented on #22
CC: @jhunkeler @cdsontag

[2017-02-06 20:19] mcara commented on #22
Another example from https://ssb.stsci.edu/pandokia/pandokia.cgi?query=detail&key_id=39303572:

[code]
or
[code]

Where do all these blank lines are coming from?

[2017-02-06 20:47] pllim commented on #22
Why is this an issue here? One of the offending lines (not listed here but same problem) about "Estimated memory usage" is actually inside `drizzlepac`'s `processInput.py`. The problem is the usage of `print()`, which adds its own line break. When you combine this with pandokia's logger, you get an effect of something like `logger.write(print(...) + '\n')`. That is my theory away. Maybe @jhunkeler

[2017-02-06 20:50] jhunkeler commented on #22
https://github.com/spacetelescope/drizzlepac/blob/34637216ce23fe8fea52ccb12d58c7a3fd80efaa/lib/drizzlepac/stisData.py#L213

https://github.com/spacetelescope/drizzlepac/blob/34637216ce23fe8fea52ccb12d58c7a3fd80efaa/lib/drizzlepac/acsData.py#L226

Yeah, removing the manual `\n` breaks should clear up some of this

[2017-02-06 20:58] mcara commented on #22
@jhunkeler Thanks for noticing those and my apologies for not checking every example that I posted above. I'll try to fix them for next PR. However, there are "legitimate" examples where logger adds extra lines:
https://github.com/spacetelescope/drizzlepac/blob/master/lib/drizzlepac/createMedian.py#L289
https://github.com/spacetelescope/drizzlepac/blob/master/lib/drizzlepac/outputimage.py#L460
htt

[2017-02-22 16:59] exowanderer opened #25 "Teal GUI crashes when using Scroll Bar"
OSX Sierra 10.12
Python 3.5.2
AstroConda
[code]

[2017-02-22 17:04] pllim commented on #25
Are you sure you are using the latest versions of `stsci.tools`? There was a fix for #11 which also complained about `UnicodeDecodeError`.

[2017-02-22 17:05] pllim commented on #25
Your path says 3.4.3 but latest release is 3.4.5.

[2017-02-22 20:13] exowanderer commented on #25
I can only say that I installed astroconda this morning. Then 1 hour later, during astroDrizzle training at STScI, I received that error while following the tutorial.

I would assume that I have the latest version of everything, unless it was released today.

[2017-02-22 20:16] pllim commented on #25
3.4.5 was released 19 days ago and pushed to AstroConda 2 weeks ago via astroconda/astroconda-contrib#159. Try `conda update stsci.tools`.

[2017-02-22 20:23] exowanderer commented on #25
Thank you for the responses.

I just ran "conda update stsci.tools", which claimed to have installed v3.4.5; but, when I used "stsci.tools.__version__", it still claims to be on version 3.4.3.

try to figure this out, but I wanted to let you know that this may take longer.

[2017-02-22 20:25] pllim commented on #25
Did you ever `pip install` it in the past? It could have been picking up an old `pip` installation. @jhunkeler , any ideas?

[2017-02-22 20:28] pllim commented on #25
Ops! I think I figured it out. The version number in `setup.cfg` is wrong. #3 would be remedied that but it was not merged. I apologize for the confusion.

[2017-02-23 00:58] exowanderer commented on #25
Thank you for the clarification. Does this mean that I have version 3.4.5 (as Conda declared), but that the command "stsci.tools.__version__" is flawed?

If so, then does that bring us back to the above concern that TEAL is crashing when I scroll?

[2017-02-23 01:02] exowanderer commented on #25
I just went back to test this and I have an important update.

The error did not occur when I click and drag the scroll bar; but it instead activates when I use the 3rd mouse well.  I previously assumed that these actions were identical.

[2017-02-23 15:30] pllim commented on #25
@exowanderer , yes, it appears your problem might still exist in the current `master`. I apologize for the confusion. @cdsontag will investigate and get back on this soon. In the meantime, we ask for your patience. Thanks for reporting this!

[2017-05-18 21:09] stsci-hack opened #35 "Deprecated astropy function needs to be replaced"
Astropy removed yet another deprecated function in v2.0; namely io.fits.NumCode.  This function was called by stpyfits which gets used by in the HST pipeline as called by the drizzlepac to transparently handle _raw.fits HST data.  The call to this function needs to be replaced by the BITPIX2DTYPE macro instead in order to allow the next release to work in the operational HST calibration pipeline b

[2017-05-19 21:03] #35 closed

[2017-07-20 23:47] pllim opened #41 "pytools/utils/cfgobj test failed in Python 3"
I think it is a test for this package?

https://ssb.stsci.edu/pandokia/pandokia.cgi?query=detail&key_id=106067037

[2017-07-21 16:57] cdsontag commented on #41
Yes it is.  If someone (myself later is possible) could verify that the diffs are simply whitespace, then we could OKify (just accept the new output).

[2017-07-28 17:37] pllim commented on #41
@cdsontag , are you also fixing this in conjuction with spacetelescope/pyraf#36 😄

[2017-07-28 17:41] cdsontag commented on #41
Was going to handle this one separately after I fix the PyRAF tests.

[2017-08-03 13:59] cdsontag commented on #41
The cfgobj tests on Python3 are good now and passing today.  Closing this.  But @pllim feel free to re-open if you have further concerns.

[2017-08-03 13:59] #41 closed

[2017-08-03 14:01] pllim commented on #41
Thanks, Chris! 🎉

[2017-08-10 19:14] pllim opened #42 "Documentation should be moved to RTD"
`stsci.tools` documentation is no longer being actively built after transition to GitHub. The documentation should:

1. be moved to ReadTheDocs and tied to this repo
2. updated to be more user-friendly; for example, someone asked about the ASN tools in this package but I needed to create a custom Gist (https://gist.github.com/pllim/86954c6783eb2bb9c3b552edbdd134a7) instead of just pointing to the

[2017-12-17 15:29] olebole opened #47 "stpyfits uses private classes + methods fits.hdu.image._ImageBaseHDU._summary and fails"
I am just trying to create a Debian package from stsci.tools (to use with pyraf), and found that `lib/stsci/tools/stpyfits.py ` accesses methods that are for astropy internal use only. Namely `astropy.io.fits.hdu.image._ImageBaseHDU`, and its method `_summary()`. The latter fails with newer astropy versions (tested with 2.0.2), since it introduced an additional member in the middle, which makes th

[2017-12-17 15:34] olebole opened #48 "Test fails since 'lazy_load_hdus' keyword was not found"
When running the tests with astropy 2.0.2, I got the following failure:
[code]

[2017-12-17 15:39] olebole opened #49 "Tests with nose-1.3.7 fail"
When using nose-1.3.7, I get the following test failures (not sure whether they may be a bug of nose, however):

[code]

[2017-12-17 15:41] olebole opened #50 "Test the writeto method of HDUList fails"
After quickfixing #48 (by removing the keyword) and #47, I get still the following errors:

[code]

[2017-12-17 15:44] olebole opened #51 "Please upload a current version to pypi"
The version currently on Pypi is quite old and does not support recent astropy versions. The versions on github seem to be more recent.

Would it possible to put the newest version to pypi as well? I would like to use pypi as the source for the Debian package.

[2017-12-18 15:13] pllim commented on #51
@olebole , any chance you could grab the latest release for this package from our `astroconda` channel (http://astroconda.readthedocs.io/en/latest/) instead?

According to https://pypi.python.org/pypi/stsci.tools/3.4.3 , `stsci_ssb` (@stsci-hack is this your account?) and @cdsontag are the owners. If possible, ownership should be given to @jhunkeler and @rendinam as well. One of the owners can the

[2017-12-18 15:55] pllim commented on #50
TBH I don't think these tests are run very often, if at all. I'll make an issue to enable Travis CI here to ensure this problem won't repeat itself in the future. However, I don't have any timeline on when that can happen. Are failing tests a show-stopper for your work? Can you maybe just `xfail` them for now until we have time to sort this out on our side? I apologize for any inconvenience caused

[2017-12-18 15:58] pllim opened #52 "Fix failing tests and enable Travis CI"
xref: #47 #48 #49 #50

[2017-12-18 16:04] pllim commented on #48
Is this related to #38, @jhunkeler ?

[2017-12-18 16:06] pllim commented on #47
xref astropy/astropy#6124

[2017-12-18 16:16] olebole commented on #50
I need the package mainly for pyraf; however it will be installed as a general package in Debian. I created the issues mainly to see how important theproblems are. So,as long as you don't veto like "don't use with astropy-2", I will just xfail these tests.

[2017-12-18 16:19] olebole commented on #51
Since I need (just) the source, I downloaded from github, and may continue to do so if the pypi upload has difficulties for you.

[2017-12-18 16:40] rendinam commented on #51
`stsci.tools 3.4.11` is now available on PyPI.

[2017-12-18 17:26] pllim commented on #50
For now, Python 2 is still theoretically supported. However, we have plans to move exclusively to Python 3 in the near future. Perhaps @stsci-hack could comment more on this when he is back.

[2017-12-18 20:15] olebole commented on #50
I meant __astropy__ 2.0 :-) For Py2->Py3, I will just follow you; We (Debian) also want to get rid of Python 2. So, if you think Pyraf is stable enough with Python 3 I will not create a Python 2 package for it (and also not Python 3 stsci.tools package).

[2017-12-18 21:15] cdsontag commented on #50
Hi all!  PyRAF should be fine with Python3 (has been tested on it for 5 years and many users do use it), but recall that the codebase is 2-to-3-able-Python2 (for now).  So just make sure the install process (or maybe your packaging process) 2to3's it first.

See the FAQ for some (slightly outdated) info:
- http://www.stsci.edu/institute/software_hardware/pyraf/pyraf_faq#1.8

[2017-12-22 03:57] jhunkeler commented on #48
@pllim  `TypeError: writeto() got an unexpected keyword argument 'lazy_load_hdus'` is getting raised by the `lazy_load_hdus` workaround implemented here:
https://github.com/spacetelescope/stsci.tools/blob/master/lib/stsci/tools/stpyfits.py#L50-L55

Hmm.

[2017-12-22 14:15] pllim commented on #48
@jhunkeler , yes, and I tagged you according to `git blame`. :sweat_smile:

[2018-01-16 19:53] pllim opened #54 "TST: Fix pandokia failures"
Remove `stsci.distutils` from `setup_requires`? c/c @jhunkeler

Affected tests:
https://ssb.stsci.edu/pandokia/pandokia.cgi?query=summary&qid=8359

[2018-01-19 15:30] pllim commented on #54
Should be fixed by #55. Will find out next week.

[2018-01-19 15:30] #54 closed

[2018-02-05 18:59] gbrammer opened #59 "readgeis fails"
I'm trying to generate multi-extension FITS versions of WFPC2 calibration files and am having a problem with `stsci.tootls.readgeis`:

[code]

The "NumCode" bit appears to have been deprecated in `pyfits` some time ago.  Any suggestions for making this work?

*Edit:*
`stsci.tools.convertwaiveredfits` does appear to work on the waivered fits calibration files provided by MAST.  However, the issue a

[2018-02-05 19:14] pllim commented on #59
@gbrammer , all the GEIS should have been converted to MEF a long time ago (at least in MAST). I am a little shocked that the reference files are still distributed in GEIS/wFITS formats. I will contact appropriate team and get back to you. Thank you for your patience.

In the meantime, your best bet right now is to use an older version of Astropy before they removed `NumCode` support.

[2018-02-05 19:19] gbrammer commented on #59
Thanks, @pllim.  Yes, I was surprised, too.  The science data seem to be distributed in MEF format, but at least the flat-field file I mentioned above ('m3c1004nu_r4h.fits') I got with the same query seemed to be in waivered FITS.  There was a bit strange behavior with MAST in that if I clicked the "Deliver WFPC2 datasets in Waivered FITS format" box, I didn't get *any* calibration files with the

[2018-02-05 20:47] pllim commented on #59
In addition, the response I have gotten thus far is that there is no support to convert WFPC2 *reference files* to MEF, as `calwf2` only takes GEIS format.

[2018-02-06 16:02] #59 closed

[2018-02-06 17:32] pllim commented on #50
Update: I am looking into the failures you reported.

[2018-02-06 19:06] #51 closed

[2018-02-06 19:46] pllim opened #62 "TST: Clean up hidden tests"
While working on #61, I found several tests embedded in `stsci.tools` modules (rather than being in the `tests` directory), as listed below. The responsible developers should take a look and either modernize them (make them proper `pytest` tests under `tests` directory) or delete them:

* `compmixin.py`: `test()`
* `gfit.py`: `test_gaussfit()`, `test()`
* `irafutils.py`: `testCsvSplit(quiet=True)`

[2018-02-06 19:57] #47 closed

[2018-02-06 19:58] pllim commented on #52
Fixed by #61

[2018-02-06 19:58] #52 closed

[2018-02-06 19:58] pllim commented on #49
Fixed by #61 . The test suite no longer depends on `nose`.

[2018-02-06 19:58] #49 closed

[2018-02-06 19:59] pllim commented on #48
Fixed by #61 (more like a hack but tests are not complaining anymore)

[2018-02-06 19:59] #48 closed

[2018-02-06 19:59] pllim commented on #50
Should have been fixed by #61. If you still see this problem, feel free to re-open.

[2018-02-06 19:59] #50 closed

[2018-02-06 20:07] pllim commented on #42
UPDATE: http://ssb.stsci.edu/doc/stsci_python_dev/stsci.tools.doc/html/index.html is no longer accessible. So, `stsci.tools` now does not have any accessible user documentation.

[2018-02-06 20:11] pllim opened #63 "Release 3.4.12"
It's all yours, Mihai.

[2018-02-07 03:15] jhunkeler commented on #42
Same thing for this:
https://github.com/spacetelescope/stsci.tools/blob/df5696d7b7f63867d31288401c19240688bea8aa/scripts/stscidocs#L10

@mcara Can `stscidocs` be retired? The documentation set(s) it used to point to were last updated in 2011 anyway.

[2018-02-07 03:21] mcara commented on #42
@jhunkeler I do not see what purpose `scidocs` does serve... 😕

[2018-02-07 14:19] pllim commented on #42
You can remove that. We haven't used `epydoc` in many years.

[2018-02-07 19:35] #42 closed

[2018-02-07 19:36] pllim opened #67 "DOC: Clean up contents, add examples"
- [ ] Use STScI template
- [ ] Update content
- [ ] Add user-friendly examples (e.g., https://gist.github.com/pllim/86954c6783eb2bb9c3b552edbdd134a7)

[2018-02-15 02:01] jhunkeler commented on #63
@pllim @mcara
Is this release blocked or anything? Can I just do it now?

🎅

[2018-02-15 02:02] pllim commented on #63
I was hoping to look into a better way to fix lazy loading bug for `stpyfits` but that should not hold up the release. So :rocket: away!

[2018-02-15 02:04] mcara commented on #63
Oh, ... Well, I think you can go ahead and make a release. I hope it can get into 2018.1 ? Also, I was hoping I could fix some things but it does not look like I can do it fast enough. So, go ahead and make a release.

[2018-02-15 02:32] pllim commented on #63
Can you please push the release to PyPI too?

[2018-02-15 02:41] jhunkeler commented on #63
Sure thing
🎅

[2018-02-15 02:46] jhunkeler commented on #63
Done
https://pypi.python.org/pypi/stsci.tools/3.4.12

[2018-02-15 03:23] #63 closed

[2018-02-26 19:17] pllim opened #70 "TST: Port over tests from pandokia"
I have a feeling that some tests in `pytools/utils` belong here (not 100% sure).

[2018-02-26 19:31] cdsontag commented on #70
Yes, PyRAF hits code which is tested by both:
- pytools/utils  (svnrt/rt/stsci_python/pytools), and
- all pyraf tests (svnrt/rt/stsci_python/pyraf)

[2018-03-08 20:04] pllim opened #72 "Numpy VisibleDeprecationWarning: `rank` is deprecated"
`nmpfit.py` looks scary. Who wants to fix this? Also, if there is already a replacement in Astropy, Scipy etc, maybe we should just get rid of it...
[code]

[2018-03-08 20:21] nden commented on #72
I'll take care of this.

[2018-03-09 22:27] pllim opened #73 "Get rid of defunct tester tools"
I want to delete these from the repo. Any objections?

* lib/stsci/tools/tester.py
* lib/stsci/tools/testutil.py

[2018-03-09 22:32] mcara commented on #73
Is there anything that uses them? If not - 👍

[2018-03-09 22:32] pllim commented on #73
I don't know. Does drizzlepac use them?

[2018-03-09 22:34] mcara commented on #73
It does not look like it uses it. What about other packages or our regression tests?

[2018-03-09 22:36] pllim commented on #73
Not any of mine. Let's see what others say.

[2018-03-10 22:19] nden commented on #73
`grep` on those two files in a conda-dev installation does not show anything.
:+1: on removing them.

[2018-03-10 22:58] nden commented on #73
`numerixenv` needs to be removed too. It was written many years ago to check if a user had numarray or numpy installed on their system. It needs to be removed also from all other modules in stsci.tools.

[2018-03-11 01:40] pllim opened #74 "Get rid of stash.py"
When I open up `stash.py`, I see:

*This is a tool for stashing certain information used by the continuous integration system at STScI.  It is not intended for, or even expected to work, in any other application.*

What is this??? If pandokia does not use this, let's get rid of this.

[2018-03-11 01:42] pllim commented on #73
Talking about `numarray`, it also needs to be cleaned from `versioninfo.py`.

Also, xref #74 for a mysterious `stash.py`.

[2018-03-11 04:44] #62 closed

[2018-03-11 04:44] #70 closed

[2018-03-11 05:23] pllim opened #75 "DOC: Remove mention of PyRAF license from code"
I don't know how much of a legal issue is to mention outdated PyRAF license that does not exactly match `LICENSE.txt` file here. They are both BSD but the content is a bit different. Perhaps replace with something like:
[code]

[2018-03-11 05:31] pllim opened #77 "TST: Fix PEP8 failures"
1. Fix the 4k plus warnings.
2. Remove PEP8 check from allowed failures in Travis CI.

Someday... Someday...

[2018-03-21 15:24] jehturner opened #78 "INDEF class not working as intended in Python 3"
In Python 2, `irafglobals.INDEF` casts to float (of which it is a subclass) like this:
[code]
In Python 3, the same code now produces:
[code]
This causes PyRAF tasks to see the wrong parameter values (0. instead of INDEF) in Python 3.

It appears that `float()` now always casts to a `float` instance (and not a subclass) on Python 3, somewhat contrary to [its own documentation](https://docs.python.

[2018-03-21 15:30] pllim commented on #78
AFAIK, we currently do not officially support IRAF related stuff in Python 3, even if PyRAF itself works. However, feel free to submit a fix if you wish!

[2018-04-13 15:41] #72 closed

[2018-05-06 04:36] mcara commented on #22
A fix for this issue was implemented in https://github.com/spacetelescope/stsci.tools/pull/80

[2018-05-08 20:31] mcara commented on #22
Fiexed via #80 (merged).

[2018-05-08 20:31] #22 closed

[2018-06-20 20:30] pllim opened #81 "Update the help"
Tyler Desjardins mentions that we should consider moving emails from `help[at]stsci.edu` to point to the web portal where possible and appropriate. For HST (or any non-JWST), it is https://hsthelp.stsci.edu . For JWST, it is https://jwsthelp.stsci.edu . Please update info in `setup.py`, `setup.cfg`, documentation, etc as appropriate.

Please close this issue if it is irrelevant to your repository.

[2018-08-07 15:44] pllim commented on #81
@nden , should we also address this before release? I can piggy back it on #76 if you want. Lemme know. Thx!

[2018-08-07 17:38] nden commented on #81
Sure, why not.

[2018-08-07 18:08] #73 closed

[2018-08-07 18:08] #74 closed

[2018-08-07 18:08] #81 closed

[2018-08-14 16:55] pllim opened #84 "Retire Python 2"
Python 2 will not be maintained past Jan 1, 2020 (see https://pythonclock.org/). Please remove all Python 2 compatibility and move this package to Python 3 only.

For conda recipe (including `astroconda-contrib`), please include the following to prevent packaging it for Python 2 (https://conda.io/docs/user-guide/tasks/build-packages/define-metadata.html?preprocessing-selectors#skipping-builds):

[

[2019-01-07 01:45] nden opened #87 "remove nmpfit in v 3.4.14"
It was deprecated in 3.4.13. Confirm that there is a release of stistools which does not use nmpfit.

[2019-01-07 01:49] nden opened #88 "mismatch tests fail with pytest 4"
Example in https://travis-ci.org/spacetelescope/stsci.tools/jobs/476155422

[2019-01-07 15:36] nden commented on #87
Yeah, I replaced the code in stistools. Someone else was supposed to enable the mktrace tests. Has that happened yet? @SaOgaz may know.

[2019-01-07 15:52] #88 closed

[2019-01-07 21:42] nden commented on #87
@stscirij Actually the PR that replaces this code in stistools has not been merged yet - spacetelescope/stistools#37. it also looks like tests are not running yet.

[2019-01-08 15:41] stscirij commented on #87
Ah, ok, I didn't realise that nmpfit was called by gfit.

[2019-01-22 20:54] SaOgaz commented on #87
If I'm remembering this correctly, the mktrace tests are in stistools (confirmed this) but I believe Nadia's PR that takes out nmpfit was failing the tests and I wasn't sure why. I believe @nden was out of town at the time.

[2019-02-15 16:14] nden commented on #87
stistools hasn't been updated yet. #92 redefined nmpfit will be removed in v 3.5/

[2019-03-06 19:57] pllim opened #94 "MNT: Deprecate and eventually remove TEAL?"
It has no maintainer and not enough users to warrant maintenance overhead. Currently it still works, but for how long? Should we start a deprecation period and eventually remove its usage? Do we really need to cling onto the IRAF era `epar` interface?

[2019-03-06 19:59] cdsontag commented on #94
[sniff sniff]

[2019-06-11 17:09] pllim opened #98 "stpyfits incompatible with Astropy 3.2"
This is most probably caused by astropy/astropy#8502 . In `stpyfits`, it inherits `_ImageBaseHDU` and then assumes the header has a `copy()` method, which is no longer true.

https://github.com/spacetelescope/stsci.tools/blob/b926e11b4f1afa09fe7cf6b7893ebf2a54182c94/lib/stsci/tools/stpyfits.py#L69-L82

I think the fix here is to force the header to not lazy load (diligent load?) first before doing

[2019-06-11 18:35] saimn commented on #98
With the new version in Astropy the header is not supposed to be modified at this stage. Because when instantiating the HDU object, the full header has not yet been parsed, only a minimal header has been parsed for the HDUs creation.
So one possible solution could be to delay the stuff done here to when the full header is loaded, which could possibly be done by overriding the `_DelayedHeader` desc

[2019-07-09 19:21] #98 closed

[2019-07-09 19:51] pllim opened #103 "TST: Travis CI cron job does not notify on failure"
As brought up in #97  . Workaround is to manually check https://travis-ci.org/spacetelescope/stsci.tools/branches once a week, as the `master` branch is set to run weekly on cron unless here has been a new build in the last 24 hours from when it is scheduled.

If someone can figure out https://docs.travis-ci.com/user/notifications/ , all the better.

[2020-02-05 21:50] stsci-hack commented on #94
One suggestion from Tyler (INS/ACS) would be to replace the Tk backend for TEAL with a web-interface instead.  If practical, this would retain the current functionality users rely on to run complex tasks like astrodrizzle while potentially being easier to maintain and perhaps merge into or use with Jupyter notebooks.  This would not be too much of a stretch for TEAL in one (minor?) aspect: TEAL al

[2020-02-05 21:50] pllim commented on #94
cc @tddesjardins

[2020-02-06 14:52] hcferguson commented on #94
I think that GUI input of configuration is important for our user community. Not just for astrodrizzle. And I agree with @stsci-hack that using a web-browser form is the modern way to go. It would be nice if we could just use an existing one rather than build from scratch.

I think there are practical advantages of the GUI interface that aren't replicated in text-based config files (or the python-

[2020-02-22 16:04] pllim commented on #94
What do you all think about a replacement like https://flexx.readthedocs.io/en/stable/guide/index.html ? I think electron might be too heavy handed. Other ideas welcome.

[2020-02-25 20:24] pllim commented on #94
As for parameter verification, perhaps `astropy.config` can do the job for us, especially since we already have `astropy` dependency for FITS I/O (if nothing else).

[2020-04-01 19:47] #103 closed

[2020-04-02 16:04] pllim opened #109 "BUG: 3.6.0 was not tagged on master"
3.6.0 tag belongs to `stable`. So, any dev version installed on `master` will be 3.5.x, not 3.6.1. The next release needs to be tagged on `master`, then this problem will fix itself.

[2020-04-02 16:05] pllim opened #110 "MNT: Simplify release procedure for this package"
This package is not high traffic enough to need a complicated multi-branch release procedures. I propose we delete `stable` and tag all future releases from `master` only.

[2020-04-02 16:15] pllim commented on #109
Fixed by 3.6.1.dev on master.

[2020-04-02 16:15] #109 closed

[2020-04-02 17:03] nden commented on #110
I'm not sure I agree. It has been non-trivial to manage releases and deliveries to DMS in the last year. I suggest you consult with @stsci-hack before removing branches.

[2020-04-02 18:15] pllim commented on #110
Just to clarify, the existing branches stay because of tags associated with them. I am just proposing a simplified release process for *this package going forward*.

[2020-04-02 22:04] pllim opened #114 "TST: Add linkcheck and PEP 517 jobs"
linkcheck to check for broken links and PEP 517 to make sure it is twine ready.

[2020-04-03 00:19] pllim opened #116 "DOC: Add CITATION and Zenodo"
* Upload next release to Zenodo.
* Add Zenodo badge to README and CITATION, the latter being a new file.

[2020-04-03 00:29] pllim opened #117 "Break up this package into smaller pieces?"
This package is a collection of unrelated things. If you just need one thing from here, you also get all these other things that you will never need. Maybe consider breaking up the existing modules into several distinct groups, each group to be its new package (that is *not* a namespace package).

The obvious ones (this list is not exhaustive):

* TEAL can be its own thing. And if eventually only

[2020-04-03 00:50] pllim opened #118 "MNT: Undo disable lazy loading hack in stpyfits, maybe"
The hack was put in via 678c4ee76e652357 when `astropy.io.fits` went to lazy loading (I think it was astropy/astropy#6082). I found an old note to investigate further, which I never got to. I vaguely remember looking at `stpyfits` and concluded that some significant refactoring might be necessary if we're going to do this the right way.

However, maybe removing the hack is not worth the time given

[2020-04-03 01:08] pllim opened #119 "TST: Close FITS files gracefully in tests"
Use the `with` context manager when handling FITS files.

[2020-04-16 17:53] #75 closed

[2020-04-16 17:53] #114 closed

[2020-04-24 19:07] #84 closed

[2021-08-06 08:20] olebole commented on #117
I am not sure about the IRAF related stuff here. If you plan to remove it, please ping me so that I can migrate it to pyraf.

[2021-08-06 14:08] pllim commented on #117
I am not sure which team manages this now. Maybe @nden or @larrybradley knows. Feel free to port anything that you like. This package is open source with BSD license. 😸

[2021-08-11 17:57] pllim commented on #87
Maybe we should change the title of this issue to "move gfit and nmpfit to stistools" as per https://github.com/spacetelescope/stsci.tools/pull/138#issuecomment-897029501